.btn-outline-primary {
	margin: 5px;
	margin-bottom: 10px;
	height: 70px;
}

#categorias {
	transition: opacity .5s linear;
	position: static;
}

#remedios {
	transition: opacity .5s linear;
	position: static;
}

.escondido {
	opacity: 0;
	height: 0;
	pointer-events: none;
	position: absolute;
}