.btn-outline-primary {
	margin: 5px;
	margin-bottom: 10px;
	height: 70px;
}

.autocomplete {
	position: relative;
}

#logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

#status {
  margin-bottom: 3rem;
}

#status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  margin-top: 10px;
}

.container label {
  color: #658ec6;
}

#categorias {
  justify-content: space-between;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
	transition: opacity .25s linear;
	position: static;
  padding: 10px 0 10px 0;
  margin-top: 27px
}

#categorias button {
  padding: 30px 0 30px 0;
  border-radius: 1rem;
  color: #658ec6;
  margin-bottom: 8px;
}

#categorias h1 {
  padding-top: 10px;
  font-weight: bold;
  color: #426696;
}

#remedios {
	transition: opacity .25s linear;
	position: static;
}

#remedios h1 {
  margin-bottom: 17px;
}

#remedio {
	transition: opacity .25s linear;
	position: static;
}

.escondido {
	opacity: 0;
	height: 0;
	pointer-events: none;
	position: absolute;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.caixa input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem; 

}

.btn {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  padding: 10px;
  width: 200px
  border-radius: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  /* estilos adicionais */
}

body {
  min-height: 100vh;
  background: linear-gradient(to right top, #a3eee0, #9adae4);
}

footer {
  margin-top: 10px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

footer p {
  text-align:center;
  margin-bottom: 0px;
  color: #426696;
  padding-bottom: 5px
}

#Rodape-titulo {
  text-align: center;
  color: #426696;
  padding-top: 10px;

}

.remedio-categoria {
  display: block;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  ;
  border-radius: 0.8rem;
  padding: 5px 0 5px 0;
  margin-bottom: 7px;
  font-size: 25px;
  color: #426696;
}

.botaoInicio {
  display: block;
  border: none;
  text-align: center;
  margin: 25px auto 0 auto;
  border-radius: 0.5rem;
  font-size: 20px;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 1)
  );
  padding: 15px 40px 15px 40px;
}